APP_NAME=NER-Nav API
APP_ENV=development
APP_VERSION=0.1.0

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=ner_nav
POSTGRES_USER=ner_nav
POSTGRES_PASSWORD=change_me

DATABASE_URL=postgresql://ner_nav:change_me@127.0.0.1:5432/ner_nav
